{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body_page_header_title_string %}
    Usuario
    <small>Modificar</small>
{% endblock body_page_header_title_string %}
{% block body_page_header_breadcrumbs %}
    <li>
        <a href="{{ path('config_user_index') }}">Usuario</a>
    </li>
    <li>
        <i class="fa fa-circle"></i>
        <span>Modificar</span>
    </li>
{% endblock body_page_header_breadcrumbs %}
{% block body_page_content %}
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="icon-settings font-red-sunglo"></i>
                <span class="caption-subject bold uppercase">Formulario de usuarios</span>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-expanded="false"> Actions
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:;">
                            {{ form_start(delete_form) }}
                            <i class="fa fa-trash-o"></i>
                                <input type="submit" value="Eliminar" class="btn btn-danger">
                            {{ form_end(delete_form) }}
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a href="{{ path('config_user_index') }}">
                                <i class="fa fa-tasks"></i>
                                Regresar a listado general</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            {{ 
                form_start(edit_form,
                    {
                        attr: {novalidate: 'novalidate'},
                        style: 'horizontal'
                    }
                )
            }}
            <div class="form-body">
                {{ form_errors(edit_form) }}
                {{ form_row(edit_form.nombre) }}
                {{ form_row(edit_form.username) }}
                {{ form_row(edit_form.plainPassword) }}
                <div class="form-group">
                    {{ form_label(edit_form.email,'Correo electrónico', { 'label_attr': {'class': 'col-md-3'} }) }}
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            {{ form_widget(edit_form.email) }}
                        </div>
                    </div>
                </div>
                {{ form_row(edit_form.roles) }}
                {{ form_row(edit_form.dpi) }}
                {{ form_row(edit_form.telefono) }}
                {{ form_row(edit_form.direccion) }}
                {{ form_row(edit_form.enabled) }}

                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            {{ form_widget(edit_form.btnCrear, { 'label': 'Guardar cambios' }) }}
                            <a 
                                href="{{ path('config_user_index') }}" 
                                class="btn btn-danger"> Cancelar
                            </a>
                        </div>
                    </div>
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock body_page_content %}
