{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body_page_header_title_string %}
    Usuarios
    <small>Listado</small>
{% endblock body_page_header_title_string %}
{% block body_page_header_breadcrumbs %}
    <li>
        <span>Usuarios</span>
    </li>
{% endblock body_page_header_breadcrumbs %}

{% block body_page_content %}
<div class="portlet light portlet-fit portlet-datatable ">
    <div class="portlet-title">
        <div class="caption">
            <i class=" icon-layers font-green"></i>
            <span class="caption-subject font-green sbold uppercase">Lista de usuarios</span>
        </div>
        <div class="actions">
            <a href="{{ path('config_user_new') }}" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> Crear nuevo usuario </a>
            <a href="javascript:;" class="btn btn-default btn-sm">
                <i class="fa fa-print"></i> Print </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-condensed table-hover">
                <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>DPI</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Acceso a empresas</th>
                <th>Actions</th>
            </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="{{ path('config_empresa_edit', { 'id': user.id }) }}">{{ user.id }}</a></td>
                        <td>{{ user.nombre }}</td>
                        <td>{{ user.dpi }}</td>
                        <td>{{ user.telefono }}</td>
                        <td>{{ user.direccion }}</td>
                        <td>
                            <a href="{{ path('config_user_empresa_index', { 'user_id': user.id }) }}"
                                class="btn dark btn-sm btn-outline sbold uppercase">
                                <i class="fa fa-share"></i> View </a>
                        </td>
                        <td>
                            <a href="{{ path('config_user_edit', { 'id': user.id }) }}"
                                class="btn btn-outline btn-circle btn-sm purple">
                                    <i class="fa fa-edit"></i> Modificar </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body_page_content %}
