{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body_page_header_title_string %}
    Usuario
    <small>Crear nuevo</small>
{% endblock body_page_header_title_string %}
{% block body_page_header_breadcrumbs %}
    <li>
        <a href="{{ path('config_user_index') }}">Usuarios</a>
    </li>
    <li>
        <i class="fa fa-angle-right"></i>
        <span>Crear</span>
    </li>
{% endblock body_page_header_breadcrumbs %}
{% block body_page_content %}
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="icon-settings font-red-sunglo"></i>
                <span class="caption-subject bold uppercase">Formulario de usuarios</span>
            </div>
        </div>
        <div class="portlet-body form">
            {{
                form_start(form,
                    {
                        attr: {novalidate: 'novalidate'},
                        style: 'horizontal'
                    }
                )
            }}
            <div class="form-body">
                {{ form_errors(form) }}
                {{ form_row(form.nombre) }}
                {{ form_row(form.username) }}
                {{ form_row(form.plainPassword) }}
                <div class="form-group">
                    {{ form_label(form.email,'Correo electrónico', { 'label_attr': {'class': 'col-md-3'} }) }}
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                </div>
                {{ form_row(form.roles) }}
                {{ form_row(form.dpi) }}
                {{ form_row(form.telefono) }}
                {{ form_row(form.direccion) }}
                {{ form_row(form.enabled) }}

                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            {{ form_widget(form.btnCrear) }}
                            <a 
                                href="{{ path('config_user_index') }}" 
                                class="btn btn-danger"> Cancelar
                            </a>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock body_page_content %}
