{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body_page_header_title_string %}
    Empresa
    <small>Crear nuevo</small>
{% endblock body_page_header_title_string %}
{% block body_page_header_breadcrumbs %}
    <li>
        <a href="{{ path('config_empresa_index') }}">Empresas</a>
    </li>
    <li>
        <i class="fa fa-circle"></i>
        <span>Crear</span>
    </li>
{% endblock body_page_header_breadcrumbs %}
{% block body_page_content %}
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="icon-settings font-red-sunglo"></i>
                <span class="caption-subject bold uppercase">Formulario de empresas</span>
            </div>
        </div>
        <div class="portlet-body form">
            {{
                form_start(form,
                    {
                        attr: {novalidate: 'novalidate'},
                        style: 'horizontal'
                    }
                )
            }}
            <div class="form-body">
                {{ form_errors(form) }}
                <div class="form-group">
                        {{ form_label(form.nit, 'NIT', {'label_attr': {'class': 'col-md-3 control-label'}}) }}
                    <div class="col-md-4">
                        {{ form_widget(form.nit, {'attr': {'class': 'foo'}}) }}
                    </div>
                </div>
                {{ form_row(form.razonsocial) }}
                {{ form_row(form.nombreComercial) }}
                {{ form_row(form.direccion) }}
                {{ form_row(form.telefono) }}
                {{ form_row(form.moneda) }}
                {{ form_row(form.nombreLogo) }}

                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            {{ form_widget(form.btnCrear) }}
                            <a 
                                href="{{ path('config_empresa_index') }}" 
                                class="btn btn-danger"> Cancelar
                            </a>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock body_page_content %}
