<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sistema Administrativo{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        {% block stylesheets %}
            <!-- BEGIN GLOBAL MANDATORY STYLES -->
            <link rel="stylesheet" href="{{ asset('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/font-awesome/css/font-awesome.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/bootstrap/css/bootstrap.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/uniform/css/uniform.default.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/select2/css/select2.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/select2/css/select2-bootstrap.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/toastr/toastr.min.css') }}" >
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/bootstrap-datepicker/css/bootstrap-datetimepicker.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/morris/morris.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/fullcalendar/fullcalendar.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/jqvmap/jqvmap/jqvmap.css') }}" >

        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
            <link rel="stylesheet" href="{{ asset('assets/global/css/components.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/css/plugins.min.css') }}" >
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
            <link rel="stylesheet" href="{{ asset('assets/layouts/layout3/css/layout.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/layouts/layout3/css/themes/default.min.css') }}" id="style_color">
            <link rel="stylesheet" href="{{ asset('assets/layouts/layout3/css/custom.min.css') }}" >
        <!-- END THEME LAYOUT STYLES -->
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="page-container-bg-solid page-header-menu-fixed">
        {% block body %}
            <!-- BEGIN HEADER -->
            <div class="page-header">
                <!-- BEGIN HEADER TOP -->
                <div class="page-header-top">
                    <div class="container">
                    <!-- BEGIN LOGO -->
                    <div class="page-logo">
                        <a href="index.html">
                            <img src="{{ absolute_url(asset('assets/pages/img/logos/empresa-logo.png'))}}" alt="logo" class="logo-default" />
                        </a>
                    </div>

                    <!-- END LOGO -->

                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler"></a>
                    <!-- END RESPONSIVE MENU TOGGLER -->

                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                            <ul class="nav navbar-nav pull-right">
                                <!-- BEGIN USER LOGIN DROPDOWN -->
                                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                                <li class="dropdown dropdown-user dropdown-dark">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <img alt="" class="img-circle" src="{{ asset('user_access-512.png')}} " />
                                        <span class="username username-hide-on-mobile"> {{ app.user.nombre }} </span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-default">
                                        <li>
                                            <a href="{{ path('config_user_edit', { 'id': app.user.id }) }}">
                                                <i class="icon-user"></i> Mi Perfil </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('config_user_index') }}">
                                                <i class="icon-rocket"></i> Otros usuarios
                                            </a>
                                        </li>
                                        <li class="divider"> </li>
                                        <li>
                                            <a href="page_user_lock_1.html">
                                                <i class="icon-lock"></i> Lock Screen </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('fos_user_security_logout') }}">
                                                <i class="icon-key"></i> Log Out </a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- END USER LOGIN DROPDOWN -->
                                <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                                <li class="dropdown dropdown-extended quick-sidebar-toggler">
                                    <span class="sr-only">Toggle Quick Sidebar</span>
                                    <i class="icon-logout"></i>
                                </li>
                                <!-- END QUICK SIDEBAR TOGGLER -->
                            </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->

                    </div>
                </div>
                <!-- END HEADER TOP -->

                <!-- BEGIN HEADER MENU -->
                <div class="page-header-menu">
                    <div class="container">
                        <!-- BEGIN HEADER SEARCH BOX -->
                        <!-- END HEADER SEARCH BOX -->

                        <!-- BEGIN MEGA MENU -->
                            <div class="hor-menu hor-menu-light">
                                <ul class="nav navbar-nav">
                                    <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown active">
                                        <a href="{{path('datast_configuraciones_homepage_dashboard')}}"> Dashboard
                                            <span class="arrow"></span>
                                        </a>
                                    </li>
                                    <li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown">
                                        <a href="javascript:;">
                                            <i class="icon-settings"></i>
                                            Configuraciones
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="dropdown-menu" style="min-width: 710px">
                                            <li>
                                                <div class="mega-menu-content">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <ul class="mega-menu-submenu">
                                                                <li>
                                                                    <a href="{{path('config_moneda_index')}}" class="nav-link ">
                                                                        <span class="title">Monedas</span>
                                                                    </a>
                                                                </li>
                                                                <li class="active">
                                                                    <a href="{{path('config_pais_index')}}" class="nav-link ">
                                                                        <span class="title">Paises</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="{{path('config_empresa_index')}}" class="nav-link ">
                                                                        <span class="title">Empresas</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="{{path('config_cpo_index')}}" class="nav-link ">
                                                                        <span class="title">CPO</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="{{path('config_configuracionnomenclaturacontable_index')}}" class="nav-link ">
                                                                        <span class="title">Configuración nomenclatura contable</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="{{path('empresa_periodofiscal_index')}}" class="nav-link ">
                                                                        <span class="title">Periodos fiscales</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="{{path('config_tipodocumento_index')}}" class="nav-link ">
                                                                        <span class="title">Documentos contables</span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        <!-- END MEGA MENU -->
                    </div>
                </div>
                <!-- END HEADER MENU -->

            </div>
            <!-- END HEADER -->

            <!-- BEGIN CONTENT -->
            {% block body_row_wrapper %}
                {% block body_page_header_wrapper %}
                    <div class="page-container">
                        <div class="page-content-wrapper">
                            <!-- BEGIN PAGE HEAD-->
                            <div class="page-head">
                                <div class="container">
                                    {% block body_page_header_title %}
                                        <div class="page-title">

                                    {% block body_page_header_breadcrumbs_wrapper %}
                                        <!-- BEGIN PAGE BREADCRUMBS -->
                                        <ul class="page-breadcrumb breadcrumb">
                                            <li>
                                                <i class="icon-home"></i>
                                                <a href="{{path('datast_configuraciones_homepage_dashboard')}}" >Home</a>
                                                <i class="fa fa-circle"></i>
                                            </li>
                                            {% block body_page_header_breadcrumbs %}
                                                <li>
                                                    <span>Dashboard</span>
                                                </li>
                                            {% endblock body_page_header_breadcrumbs %}
                                        </ul>
                                        <!-- END PAGE BREADCRUMBS -->
                                    {% endblock body_page_header_breadcrumbs_wrapper %}
                                        </div>
                                    {% endblock body_page_header_title %}
                                </div>
                            </div>
                            <!-- END PAGE HEAD-->
                            
                            <!-- BEGIN PAGE CONTENT BODY -->
                            <div class="page-content">
                                <div class="container">
                                    <!-- BEGIN CONTENT BODY -->
                                    <div class="page-content-inner">
                                        <!-- BEGIN PAGE HEADER-->
                                        <!-- BEGIN THEME PANEL -->
                                        {% block body_page_content_wrapper %}
                                            <div class="row">
                                                {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}                                            
                                                <div class="col-md-12">
                                                    <div class="portlet light portlet-fit portlet-form">
                                                        {% block body_page_content %}
                                                        {% endblock body_page_content %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endblock body_page_content_wrapper %}
                                    </div>
                                    <!-- END CONTENT BODY -->
                                </div>
                            </div>
                            <!-- END PAGE CONTENT BODY -->
                        </div>
                    </div>
                {% endblock body_page_header_wrapper %}
            {% endblock body_row_wrapper %}
            <!-- END CONTENT -->

            <!-- BEGIN PRE-FOOTER -->
            <div class="page-prefooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                            <h2>About</h2>
                            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam dolore. </p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs12 footer-block">
                            <h2>Subscribe Email</h2>
                            <div class="subscribe-form">
                                <form action="javascript:;">
                                    <div class="input-group">
                                        <input type="text" placeholder="mail@email.com" class="form-control">
                                        <span class="input-group-btn">
                                            <button class="btn" type="submit">Submit</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                            <h2>Follow Us On</h2>
                            <ul class="social-icons">
                                <li>
                                    <a href="javascript:;" data-original-title="facebook" class="facebook"></a>
                                </li>
                                <li>
                                    <a href="javascript:;" data-original-title="twitter" class="twitter"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                            <h2>Contacts</h2>
                            <address class="margin-bottom-40"> Phone: 5441 4910
                                <br> Email:
                                <a href="">info@datast.com</a>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PRE-FOOTER -->

            <!-- BEGIN FOOTER -->
            <div class="page-footer">
                <div class="page-footer-inner"> 2015 &copy; Metronic by keenthemes.
                    <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
            <!-- END FOOTER -->
        {% endblock %}
        {% block javascripts %}
        <!-- BEGIN CORE PLUGINS -->
            <script src="{{ asset('assets/global/plugins/jquery.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/js.cookie.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jquery.blockui.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/uniform/jquery.uniform.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js')}}"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
            <script src="{{ asset('assets/global/plugins/moment.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/morris/morris.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/morris/raphael-min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/counterup/jquery.waypoints.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/counterup/jquery.counterup.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/morris/raphael-min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/amcharts/amcharts/amcharts.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/amcharts/amcharts/serial.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/amcharts/amcharts/pie.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/amcharts/amcharts/radar.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/amcharts/amcharts/themes/light.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/amcharts/amcharts/themes/patterns.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/amcharts/amcharts/themes/chalk.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/amcharts/ammap/ammap.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/amcharts/ammap/maps/js/worldLow.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/amcharts/amstockcharts/amstock.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/fullcalendar/fullcalendar.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/flot/jquery.flot.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/flot/jquery.flot.resize.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/flot/jquery.flot.categories.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jquery.sparkline.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/select2/js/select2.full.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/toastr/toastr.min.js')}}"></script>

        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
            <script src="{{ asset('assets/global/scripts/app.min.js')}}"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
            <script src="{{ asset('assets/pages/scripts/dashboard.min.js')}}"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
            <script src="{{ asset('assets/layouts/layout3/scripts/layout.min.js')}}"></script>
            <script src="{{ asset('assets/layouts/layout3/scripts/demo.min.js')}}"></script>
            <script src="{{ asset('assets/layouts/global/scripts/quick-sidebar.min.js')}}"></script>
        <!-- END THEME LAYOUT SCRIPTS -->

            <script>
                $(document).ready(function () {
                    $('.select2-basic-single').select2();
                    $('.select2-placeholder-single').select2(
                        {
                          placeholder: "Seleccionar",
                          allowClear: true
                        }
                    );
                });

                $('.js-datepicker').datepicker({
                    format: 'dd/mm/yyyy'
                });

            </script>
        {% endblock %}
    </body>
</html>
