<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sistema Administrativo{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        {% block stylesheets %}
            <!-- BEGIN GLOBAL MANDATORY STYLES -->
            <link rel="stylesheet" href="{{ asset('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/font-awesome/css/font-awesome.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/bootstrap/css/bootstrap.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/uniform/css/uniform.default.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/select2/css/select2.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/select2/css/select2-bootstrap.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/toastr/toastr.min.css') }}" >
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/bootstrap-datepicker/css/bootstrap-datetimepicker.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/morris/morris.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/fullcalendar/fullcalendar.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/jqvmap/jqvmap/jqvmap.css') }}" >

        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
            <link rel="stylesheet" href="{{ asset('assets/global/css/components.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/css/plugins.min.css') }}" >
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
            <link rel="stylesheet" href="{{ asset('assets/layouts/layout2/css/layout.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/layouts/layout2/css/themes/blue.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/layouts/layout2/css/custom.min.css') }}" >
        <!-- END THEME LAYOUT STYLES -->
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
        {% block body %}
            <!-- BEGIN HEADER -->
            <div class="page-header navbar navbar-fixed-top">
                <!-- BEGIN HEADER INNER -->
                <div class="page-header-inner ">
                    <!-- BEGIN LOGO -->
                    <div class="page-logo">
                        <a href="index.html">
                            <img src="{{ asset('/assets/pages/img/login/v software.png')}}" alt="logo" class="logo-default" />
                        </a>
                        <div class="menu-toggler sidebar-toggler">
                            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                        </div>
                    </div>
                    <!-- END LOGO -->

                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
                    <!-- END RESPONSIVE MENU TOGGLER -->

                    <!-- BEGIN PAGE TOP -->
                    <div class="page-top">
                        <!-- BEGIN TOP NAVIGATION MENU -->
                        <div class="top-menu">
                            <ul class="nav navbar-nav pull-right">
                                <div class="page-actions">
                                    <div class="btn-group">
                                        <span class="caption-subject bold font-red-sunglo">
                                            <h4>
                                                {# <i class="icon-social-dribbble font-red"></i> #}
                                                {% if app.session.get('empresa') %}  <strong>  {{ app.session.get('empresa').razonsocial }}</strong>{% endif %}
                                            </h4>
                                        </span>
                                    </div>
                                </div>
                                <!-- BEGIN USER LOGIN DROPDOWN -->
                                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                                <li class="dropdown dropdown-user">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <img alt="" class="img-circle" src="{{ asset('user_access-512.png')}} " />
                                        <span class="username username-hide-on-mobile"> {{ app.user.nombre }} </span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-default">
                                        <li>
                                            <a href="{{ path('config_user_edit', { 'id': app.user.id }) }}">
                                                <i class="icon-user"></i> Mi Perfil </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('config_user_index') }}">
                                                <i class="icon-rocket"></i> Otros usuarios
                                            </a>
                                        </li>
                                        <li class="divider"> </li>
                                        <li>
                                            <a href="page_user_lock_1.html">
                                                <i class="icon-lock"></i> Lock Screen </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('fos_user_security_logout') }}">
                                                <i class="icon-key"></i> Log Out </a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- END USER LOGIN DROPDOWN -->
                                <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                                <li class="dropdown dropdown-extended quick-sidebar-toggler">
                                    <span class="sr-only">Toggle Quick Sidebar</span>
                                    <i class="icon-logout"></i>
                                </li>
                                <!-- END QUICK SIDEBAR TOGGLER -->
                            </ul>
                        </div>
                        <!-- END TOP NAVIGATION MENU -->
                    </div>
                    <!-- END PAGE TOP -->
                </div>
                <!-- END HEADER INNER -->
            </div>
            <!-- END HEADER -->
            <!-- BEGIN HEADER & CONTENT DIVIDER -->
            <div class="clearfix"> </div>
            <!-- END HEADER & CONTENT DIVIDER -->
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN SIDEBAR -->
                <div class="page-sidebar-wrapper">
                    <div class="page-sidebar navbar-collapse collapse">
                        <ul
                            class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu "
                            data-keep-expanded="false"
                            data-auto-scroll="true"
                            data-slide-speed="200"
                        >
                            <li class="nav-item start active open">
                                <a href="{{path('datast_configuraciones_homepage_index')}}" class="nav-link nav-toggle">
                                    <i class="icon-home"></i>
                                    <span class="title">Home</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a>
                            </li>
                            <li class="nav-item  ">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-settings"></i>
                                    <span class="title">Configuraciones</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="{{path('config_moneda_index')}}" class="nav-link ">
                                            <span class="title">Monedas</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="{{path('config_pais_index')}}" class="nav-link ">
                                            <span class="title">Paises</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="{{path('config_empresa_index')}}" class="nav-link ">
                                            <span class="title">Empresas</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="{{path('config_catalogo_contactos_index')}}" class="nav-link ">
                                            <span class="title">Catálogo de contactos</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item  ">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-puzzle"></i>
                                    <span class="title">Inventario</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a>
                                            <span class="title">Configuraciones</span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li class="nav-item">
                                                <a href= "{{path('inventario_ajustes_index')}}"class="nav-link ">
                                                    <i class="icon-wrench"></i>Ajustes</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{{path('inventario_concepto_index')}}" class="nav-link">
                                                    <i class="icon-docs"></i>Conceptos</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{{path('inventario_bodega_index')}}" class="nav-link">
                                                    <i class="icon-layers"></i>Bodegas</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{{path('inventario_articulo_index')}}" class="nav-link">
                                                    <i class="icon-list"></i>Artículos</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="{{path('config_pais_index')}}" class="nav-link ">
                                            <span class="title">Ingresos</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="{{path('config_pais_index')}}" class="nav-link ">
                                            <span class="title">Salidas</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="{{path('config_pais_index')}}" class="nav-link ">
                                            <span class="title">Requisiciones</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="{{path('config_pais_index')}}" class="nav-link ">
                                            <span class="title">Ordenes de compra</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="{{path('config_pais_index')}}" class="nav-link ">
                                            <span class="title">Reportes</span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    <i class="icon-key"></i>Existencias</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    <i class="icon-folder"></i>Kardex</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    <i class="icon-list"></i>Kardex por artículos</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="{{path('config_catalogo_contactos_index')}}" class="nav-link ">
                                            <span class="title">Otros procesos</span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    <i class="icon-key"></i>Cierre de inventario</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    <i class="icon-folder"></i>Inventario físico</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">
                                                    <i class="icon-list"></i>Contabilizar ingresos y salidas</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                {% block body_row_wrapper %}
                    {% block body_page_header_wrapper %}
                        <div class="page-content-wrapper">
                            <!-- BEGIN CONTENT BODY -->
                            <div class="page-content">
                                <!-- BEGIN PAGE HEADER-->
                                <!-- BEGIN THEME PANEL -->
                                {% block body_page_header_title %}
                                    <h3 class="page-title">
                                        {% block body_page_header_title_string %}
                                                Dashboard
                                                <small>dashboard & statistics</small>
                                        {% endblock %}
                                    </h3>
                                {% endblock body_page_header_title %}
                                <div class="page-bar">
                                    {% block body_page_header_breadcrumbs_wrapper %}
                                        <ul class="page-breadcrumb">
                                            <li>
                                                <i class="icon-home"></i>
                                                <a href="{{path('datast_configuraciones_homepage_dashboard')}}" >Home</a>
                                                <i class="fa fa-angle-right"></i>
                                            </li>
                                            {% block body_page_header_breadcrumbs %}
                                                <li>
                                                    <span>Dashboard</span>
                                                </li>
                                            {% endblock body_page_header_breadcrumbs %}
                                        </ul>
                                    {% endblock body_page_header_breadcrumbs_wrapper %}
                                </div>
                                {% block body_page_content_wrapper %}
                                    <div class="row">
                                        {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
                                        
                                        <div class="col-md-12">
                                            {% block body_page_content %}{% endblock body_page_content %}
                                        </div>
                                    </div>
                                {% endblock body_page_content_wrapper %}
                            </div>
                        </div>
                    {% endblock body_page_header_wrapper %}
                {% endblock body_row_wrapper %}
                <!-- END CONTENT -->
            </div>
            <!-- END CONTAINER -->
            <!-- BEGIN FOOTER -->
            <div class="page-footer">
                <div class="page-footer-inner"> 2015 &copy; Metronic by keenthemes.
                    <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
            <!-- END FOOTER -->
        {% endblock %}
        {% block javascripts %}
        <!-- BEGIN CORE PLUGINS -->
            <script src="{{ asset('assets/global/plugins/jquery.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/js.cookie.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jquery.blockui.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/uniform/jquery.uniform.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js')}}"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
            <script src="{{ asset('assets/global/plugins/moment.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/morris/morris.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/morris/raphael-min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/counterup/jquery.waypoints.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/counterup/jquery.counterup.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/morris/raphael-min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/amcharts/amcharts/amcharts.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/amcharts/amcharts/serial.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/amcharts/amcharts/pie.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/amcharts/amcharts/radar.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/amcharts/amcharts/themes/light.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/amcharts/amcharts/themes/patterns.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/amcharts/amcharts/themes/chalk.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/amcharts/ammap/ammap.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/amcharts/ammap/maps/js/worldLow.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/amcharts/amstockcharts/amstock.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/fullcalendar/fullcalendar.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/flot/jquery.flot.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/flot/jquery.flot.resize.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/flot/jquery.flot.categories.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jquery.sparkline.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/select2/js/select2.full.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/toastr/toastr.min.js')}}"></script>

        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
            <script src="{{ asset('assets/global/scripts/app.min.js')}}"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
            <script src="{{ asset('assets/pages/scripts/dashboard.min.js')}}"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
            <script src="{{ asset('assets/layouts/layout2/scripts/layout.min.js')}}"></script>
            <script src="{{ asset('assets/layouts/layout2/scripts/demo.min.js')}}"></script>
            <script src="{{ asset('assets/layouts/global/scripts/quick-sidebar.min.js')}}"></script>
        <!-- END THEME LAYOUT SCRIPTS -->

            <script>
                $(document).ready(function () {
                    $('.select2-basic-single').select2();
                    $('.select2-placeholder-single').select2(
                        {
                          placeholder: "Seleccionar",
                          allowClear: true
                        }
                    );
                });

                $('.js-datepicker').datepicker({
                    format: 'dd/mm/yyyy'
                });

            </script>
        {% endblock %}
    </body>
</html>
