{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body_page_header_title_string %}
    Monedas
    <small>Listado</small>
{% endblock body_page_header_title_string %}
{% block body_page_header_breadcrumbs %}
    <li>
        <span>Monedas</span>
    </li>
{% endblock body_page_header_breadcrumbs %}

{% block body_page_content %}
<div class="portlet light portlet-fit portlet-datatable ">
    <div class="portlet-title">
        <div class="caption">
            <i class=" icon-layers font-green"></i>
            <span class="caption-subject font-green sbold uppercase">Lista de Monedas</span>
        </div>
        <div class="actions">
            <a href="{{ path('config_moneda_new') }}" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> Crear nueva moneda </a>
            <a href="javascript:;" class="btn btn-default btn-sm">
                <i class="fa fa-print"></i> Print </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for moneda in monedas %}
                    <tr>
                        <td><a href="{{ path('config_moneda_show', { 'id': moneda.id }) }}">{{ moneda.id }}</a></td>
                        <td>{{ moneda.codigo }}</td>
                        <td>{{ moneda.nombre }}</td>
                        <td>
                                    <a href="{{ path('config_moneda_show', { 'id': moneda.id }) }}"
                                        class="btn btn-outline btn-circle btn-sm purple">
                                            <i class="fa fa-edit"></i> Consultar </a>

                                    <a href="{{ path('config_moneda_edit', { 'id': moneda.id }) }}"
                                        class="btn btn-outline btn-circle btn-sm purple">
                                            <i class="fa fa-edit"></i> Modificar </a>
{#                                     <a href="javascript:;"
                                        class="btn btn-outline btn-circle dark btn-sm black">
                                            <i class="fa fa-trash-o"></i> Eliminar </a> #}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body_page_content %}
