{% extends 'base.html.twig' %}
{% block body_page_header_title_string %}
    Configuración de la nomenclatura contable
    <small>Modificar</small>
{% endblock body_page_header_title_string %}
{% block body_page_header_breadcrumbs %}
    <li>
        <span>Modificar</span>
    </li>
{% endblock body_page_header_breadcrumbs %}
{% block body_page_content %}

    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="icon-settings font-red-sunglo"></i>
                <span class="caption-subject bold uppercase">Configuración de la nomenclatura contable</span>
            </div>
        </div>
        <div class="portlet-body form">
            {{ 
                form_start(edit_form,
                    {
                        attr: {novalidate: 'novalidate'},
                        style: 'vertical'
                    }
                )
            }}
            <div class="form-body">
                {{ form_errors(edit_form) }}
                {{ form_widget(edit_form) }}
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            {{ form_widget(edit_form.btnCrear, { 'label': 'Guardar cambios' }) }}
                        </div>
                    </div>
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock body_page_content %}

{% block javascripts %}
    {{ parent() }}

    {# Alertas #}
    <script>
        toastr.options = {
            'closeButton': 'true',
            'timeOut': 2000,
            "positionClass": "toast-top-full-width"
        };
        $(document).ready(function() {
            {% for message in app.flashes('notice') %}
                toastr.success('{{message}}');
            {% endfor %}
        });
    </script>

{% endblock %}
