{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {# Alertas #}
    <script>
        toastr.options = {
            'closeButton': 'true',
            'timeOut': 2000,
            "positionClass": "toast-top-full-width"
        };

        $(document).ready(function() {
            {% for flash_message in app.session.flashBag.get('notice') %}
                toastr.success('{{flash_message}}');
            {% endfor %}

        });
    </script>

{% endblock %}
{% block body_page_header_title_string %}
    Configuración de nomenclatura contable
{% endblock body_page_header_title_string %}
{% block body_page_header_breadcrumbs %}
    <li>
        <span>Modificar</span>
    </li>
{% endblock body_page_header_breadcrumbs %}
{% block body_page_content %}
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="icon-settings font-red-sunglo"></i>
                <span class="caption-subject bold uppercase">Configuración de nomenclatura contable</span>
            </div>
        </div>
        <div class="portlet-body form">
            {{
                form_start(form,
                    {
                        attr: {novalidate: 'novalidate'},
                        style: 'vertical'
                    }
                )
            }}
            <div class="form-body">
                {{ form_errors(form) }}
                {{ form_widget(form) }}
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            {{ form_widget(form.btnCrear, { 'label': 'Guardar cambios' }) }}
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock body_page_content %}
