{% extends 'base.html.twig' %}
{% block body_page_header_title_string %}
    Nomenclatura contable
    <small>Editar cuenta</small>
{% endblock body_page_header_title_string %}
{% block body_page_header_breadcrumbs %}
    <li >
        <span>
            <a
                href="{{
                    url(
                        'empresa_periodofiscal_index'
                    )
                }}"
            >
                Periodos fiscales
        </a>
        <span>
    </li>
    <i class="fa fa-circle"></i>
    <li>
        <a href="{{ path('empresa_nomenclaturaperiodofiscal_index',
            {periodo_fiscal_id: nomenclaturaPeriodoFiscal.periodoFiscal.id}) }}">
                Nomenclatura contable</a>
    </li>
    <li>
        <i class="fa fa-circle"></i>
        <span>Crear</span>
    </li>
{% endblock body_page_header_breadcrumbs %}
{% block body_page_content %}
    <div class="page-content-inner">
        <div class="row">
            <div class="col-md-6 ">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="icon-settings font-red-sunglo"></i>
                            <span class="caption-subject bold uppercase">Formulario para modificar una cuenta contable</span>
                        </div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-expanded="false"> Acciones
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;">
                                        {% if (nomenclaturaPeriodoFiscal.altura - nomenclaturaPeriodoFiscal.nivel) == 1 %}
                                            {{ form_start(delete_form) }}
                                            <i class="fa fa-trash-o"></i>
                                                <input type="submit" value="Eliminar" class="btn btn-danger">
                                            {{ form_end(delete_form) }}
                                            <li class="divider"> </li>
                                        {% endif %}
                                    </li>
                                    <li>
                                        <a
                                            href="{{ path('empresa_nomenclaturaperiodofiscal_index', 
                                                {periodo_fiscal_id: nomenclaturaPeriodoFiscal.periodoFiscal.id}) }}"
                                        >
                                            <i class="fa fa-tasks"></i>
                                            Regresar a listado general</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        {{
                            form_start(edit_form,
                                {
                                    attr: {novalidate: 'novalidate'},
                                    style: 'horizontal'
                                }
                            )
                        }}
                        <div class="form-body">
                            {{ form_errors(edit_form) }}
                            {{ form_row(edit_form.cuenta) }}
                            {{ form_row(edit_form.nombreCuenta) }}
                            <div class="form-group">
                                <label
                                    class="control-label col-lg-2"
                                    for="datast_inventariobundle_articulo_controlPorLotes"
                                >
                                </label>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        {{ form_widget(edit_form.btnCrear) }}
                                        <a 
                                            href="{{ path('empresa_nomenclaturaperiodofiscal_index', 
                                                {periodo_fiscal_id: nomenclaturaPeriodoFiscal.periodoFiscal.id}) }}" 
                                            class="btn btn-danger"> Cancelar
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(edit_form) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption font-blue-sunglo">
                            <i class="icon-settings font-red-sunglo"></i>
                            <span class="caption-subject bold uppercase">Última cuenta creada en el nivel actual</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="table-scrollable">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th>Cuenta contable</th>
                                        <th>Nombre cuenta</th>
                                        <th>Nivel</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for resumenCuenta in resumenCuentas %}
                                    {% set contador = resumenCuenta.cuenta |length  %}
                                    <tr>
                                        <td> 
                                            {% for i in 0..contador %}
                                                &nbsp 
                                            {% endfor %}
                                            {{ resumenCuenta.cuenta }}
                                        </td>
                                        <td>{{ resumenCuenta.nombreCuenta }}</td>
                                        <td>{{ resumenCuenta.nivel }}</td>
                                        <td>
                                            <a href="{{ path('empresa_nomenclaturaperiodofiscal_new',
                                                    { periodo_fiscal_id: nomenclaturaPeriodoFiscal.periodoFiscal.id, nodo_padre_id: resumenCuenta.id }) 
                                                }}"
                                                class="btn btn-sm green">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body_page_content %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}