{% extends 'base.html.twig' %}
{% block body_page_header_title_string %}
    Nomenclatura del periodo fiscal
    <small>Listado</small>
{% endblock body_page_header_title_string %}
{% block body_page_header_breadcrumbs %}
    <li >
        <span>
            <a
                href="{{
                    url(
                        'empresa_periodofiscal_index'
                    )
                }}"
            >
                Periodos fiscales
        </a>
        <span>
    </li>
    <li>
        <i class="fa fa-circle"></i>
        <span>Nomenclatura contable</span>
    </li>
{% endblock body_page_header_breadcrumbs %}

{% block body_page_content %}
<div class="portlet light portlet-fit portlet-datatable ">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject bold uppercase">Nomenclatura contable del periodo fiscal</span>
        </div>
        <div class="actions">
            <div class="tools-rigth">
{#                 <a href="{{ path('empresa_nomenclaturaperiodofiscal_new', { periodo_fiscal_id: periodoFiscalId}) }}" class="btn btn-primary btn-sm">
                    <i class="fa fa-plus"></i> Crear nueva cuenta </a> #}
                <a href="javascript:;" class="btn yellow-mint btn-sm">
                    <i class="fa fa-print"></i> Imprimir </a>
            </div>
        </div>
    </div>

    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
{#                         <th>Id</th>
 #}                     <th>Cuenta contable</th>
                        <th>Nombre cuenta</th>
                        <th>Agregar subcuenta </th>
                        <th>Nodo padre</th>
                        <th>Nivel</th>
                        <th>Nivel máximo</th>
                        <th>Naturaleza</th>
                        <th>Tipo de cuenta</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for nomenclaturaPeriodoFiscal in nomenclaturaPeriodoFiscals %}
                    {% set contador = nomenclaturaPeriodoFiscal.cuenta |length  %}
                    <tr>
                        <td> 
                            {% for i in 0..contador %}
                                &nbsp 
                            {% endfor %}
                            {{ nomenclaturaPeriodoFiscal.cuenta }}
                        </td>
                        <td>{{ nomenclaturaPeriodoFiscal.nombreCuenta }}</td>
                        <td>
                            <a href="{{ path('empresa_nomenclaturaperiodofiscal_new',
                                    { periodo_fiscal_id: periodoFiscalId, nodo_padre_id: nomenclaturaPeriodoFiscal.id }) 
                                }}"
                                class="btn btn-sm green">
                                <i class="fa fa-plus"> Subcuenta</i>
                            </a>
                        </td>

                        {% if nomenclaturaPeriodoFiscal.nodoPadre %}
                            <td>{{ nomenclaturaPeriodoFiscal.nodoPadre.cuenta }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        <td>{{ nomenclaturaPeriodoFiscal.nivel }}</td>
                        <td>{{ nomenclaturaPeriodoFiscal.altura }}</td>
                        <td>{{ nomenclaturaPeriodoFiscal.naturaleza }}</td>
                        <td>{{ nomenclaturaPeriodoFiscal.tipoDeCuenta }}</td>
                        <td>
                            {% if nomenclaturaPeriodoFiscal.nodoPadre %}
                            <a 
                                href="{{ path('empresa_nomenclaturaperiodofiscal_edit', 
                                    {periodo_fiscal_id: periodoFiscalId, 'id': nomenclaturaPeriodoFiscal.id}) }}"
                                class="btn btn-outline btn-circle btn-sm purple">
                                    <i class="fa fa-edit"></i> Editar </a>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body_page_content %}
{% block javascripts %}
    {{ parent() }}

    {# Alertas #}
    <script>
        toastr.options = {
            'closeButton': 'true',
            'timeOut': 2000,
            "positionClass": "toast-top-full-width"
        };

        $(document).ready(function() {
            {% for message in app.flashes('notice') %}
                toastr.success('{{message}}');
            {% endfor %}
        });
    </script>

{% endblock %}