{% extends 'base.html.twig' %}
{% block body_page_header_title_string %}
    Nomenclatura contable
    <small>Crear nuevo</small>
{% endblock body_page_header_title_string %}
{% block body_page_header_breadcrumbs %}
    <li >
        <span>
            <a
                href="{{
                    url(
                        'empresa_periodofiscal_index'
                    )
                }}"
            >
                Periodos fiscales
        </a>
        <span>
    </li>
    <i class="fa fa-circle"></i>
    <li>
        <a href="{{ path('empresa_nomenclaturaperiodofiscal_index',
            {periodo_fiscal_id: nomenclaturaPeriodoFiscal.periodoFiscal.id}) }}">
                Nomenclatura contable</a>
    </li>
    <li>
        <i class="fa fa-circle"></i>
        <span>Crear</span>
    </li>
{% endblock body_page_header_breadcrumbs %}
{% block body_page_content %}
    <div class="page-content-inner">
        <div class="row">
            <div class="col-md-6 ">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption font-red-sunglo">
                            <i class="icon-settings font-red-sunglo"></i>
                            <span class="caption-subject bold uppercase">Formulario para crear nueva cuenta contable</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        {{
                            form_start(form,
                                {
                                    attr: {novalidate: 'novalidate'},
                                    style: 'horizontal'
                                }
                            )
                        }}
                        <div class="form-body">
                            {{ form_errors(form) }}
                            {{ form_row(form.cuenta) }}
                            {{ form_row(form.nombreCuenta) }}
                            <div class="form-group">
                                <label
                                    class="control-label col-lg-2"
                                    for="datast_inventariobundle_articulo_controlPorLotes"
                                >
                                </label>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        {{ form_widget(form.btnCrear) }}
                                        <a 
                                            href="{{ path('empresa_nomenclaturaperiodofiscal_index', 
                                                {periodo_fiscal_id: nomenclaturaPeriodoFiscal.periodoFiscal.id}) }}" 
                                            class="btn btn-danger"> Cancelar
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption font-blue-sunglo">
                            <i class="icon-settings font-red-sunglo"></i>
                            <span class="caption-subject bold uppercase">Última cuenta creada en el nivel actual</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="table-scrollable">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th>Cuenta contable</th>
                                        <th>Nombre cuenta</th>
                                        <th>Nivel</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for resumenCuenta in resumenCuentas %}
                                    {% set contador = resumenCuenta.cuenta |length  %}
                                    <tr>
                                        <td> 
                                            {% for i in 0..contador %}
                                                &nbsp 
                                            {% endfor %}
                                            {{ resumenCuenta.cuenta }}
                                        </td>
                                        <td>{{ resumenCuenta.nombreCuenta }}</td>
                                        <td>{{ resumenCuenta.nivel }}</td>
                                        <td>
                                            <a href="{{ path('empresa_nomenclaturaperiodofiscal_new',
                                                    { periodo_fiscal_id: nomenclaturaPeriodoFiscal.periodoFiscal.id, nodo_padre_id: resumenCuenta.id }) 
                                                }}"
                                                class="btn btn-sm green">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body_page_content %}
{% block javascripts %}
    {{ parent() }}

    {# Alertas #}
    <script>
        toastr.options = {
            'closeButton': 'true',
            'timeOut': 2000,
            "positionClass": "toast-top-full-width"
        };

        $(document).ready(function() {
            {% for message in app.flashes('notice') %}
                toastr.success('{{message}}');
            {% endfor %}

        });
    </script>

{% endblock %}