{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nomenclaturaperiodofiscal</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nomenclaturaPeriodoFiscal.id }}</td>
            </tr>
            <tr>
                <th>Cuenta</th>
                <td>{{ nomenclaturaPeriodoFiscal.cuenta }}</td>
            </tr>
            <tr>
                <th>Nombrecuenta</th>
                <td>{{ nomenclaturaPeriodoFiscal.nombreCuenta }}</td>
            </tr>
            <tr>
                <th>Nodopadre</th>
                <td>{{ nomenclaturaPeriodoFiscal.nodoPadre }}</td>
            </tr>
            <tr>
                <th>Nivel</th>
                <td>{{ nomenclaturaPeriodoFiscal.nivel }}</td>
            </tr>
            <tr>
                <th>Nivelmaximo</th>
                <td>{{ nomenclaturaPeriodoFiscal.altura }}</td>
            </tr>
            <tr>
                <th>Naturaleza</th>
                <td>{{ nomenclaturaPeriodoFiscal.naturaleza }}</td>
            </tr>
            <tr>
                <th>Tipodecuenta</th>
                <td>{{ nomenclaturaPeriodoFiscal.tipoDeCuenta }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ nomenclaturaPeriodoFiscal.estado }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('empresa_nomenclaturaperiodofiscal_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('empresa_nomenclaturaperiodofiscal_edit', { 'id': nomenclaturaPeriodoFiscal.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
