{% trans_default_domain 'FOSUserBundle' %}

<form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
    <h3 class="form-title font-blue">Iniciar sesión</h3>
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="form-group form-md-line-input form-md-floating-label has-info">
        <input
            class="form-control"
            autocomplete="off"
            placeholder="{{ 'security.login.username'|trans }}" 
            type="text" 
            id="username" 
            name="_username" 
            value="{{ last_username }}" 
            required="required" />
    </div>
    <div class="form-group form-md-line-input form-md-floating-label has-info">
        <input 
            class="form-control" 
            autocomplete="off" 
            placeholder="{{ 'security.login.password'|trans }}" 
            type="password" 
            id="password" 
            name="_password" 
            required="required" />
    </div>
    <div class="form-actions">
        <button class="btn blue btn-success uppercase pull-right" type="submit" id="_submit" name="_submit"> {{ 'security.login.submit'|trans }} </button>
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label class="rememberme check mt-checkbox mt-checkbox-outline" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>
</form>
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
