//Login 1
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Valenti | User Login 1</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        {% block stylesheets %}
            <!-- BEGIN GLOBAL MANDATORY STYLES -->
            <link rel="stylesheet" href="{{ asset('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/font-awesome/css/font-awesome.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/bootstrap/css/bootstrap.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/uniform/css/uniform.default.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" >
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/select2/css/select2.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/plugins/select2/css/select2-bootstrap.min.css') }}" >
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
            <link rel="stylesheet" href="{{ asset('assets/global/css/components.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('assets/global/css/plugins.min.css') }}" >
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
            <link rel="stylesheet" href="{{ asset('assets/pages/css/login.min.css') }}" >
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <!-- END THEME LAYOUT STYLES -->
        {% endblock %}
    </head>
    <body class=" login">
        <!-- BEGIN LOGO -->
        <div class="logo">
            <h3 class="form-title font-white">DATAST</h3>
{#             <a href="index.html">
                <img src="{{ asset('assets/pages/img/logo-invert.png') }}" alt="" /> </a> #}
        </div>
{#         <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
 #}
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="content">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
        {% block javascripts %}
        <!-- BEGIN CORE PLUGINS -->
            <script src="{{ asset('assets/global/plugins/jquery.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/js.cookie.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jquery.blockui.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/uniform/jquery.uniform.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js')}}"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
            <script src="{{ asset('assets/global/plugins/jquery-validation/js/jquery.validate.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/jquery-validation/js/additional-methods.min.js')}}"></script>
            <script src="{{ asset('assets/global/plugins/select2/js/select2.full.min.js')}}"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
            <script src="{{ asset('assets/global/scripts/app.min.js')}}"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
            <script src="{{ asset('assets/pages/scripts/login.min.js')}}"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <!-- END THEME LAYOUT SCRIPTS -->
        {% endblock %}
    </body>
</html>
