{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body_page_header_title_string %}
    Clientes, Proveedores y Otros (CPO)
    <small>Listado</small>
{% endblock body_page_header_title_string %}
{% block body_page_header_breadcrumbs %}
    <li>
        <span>Lista de CPO</span>
    </li>
{% endblock body_page_header_breadcrumbs %}

{% block body_page_content %}
<div class="portlet light portlet-fit portlet-datatable ">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject bold uppercase">Lista de Clientes, Proveedores y Otros (CPO)</span>
        </div>
        <div class="actions">
            <div class="tools-rigth">
                <a href="{{ path('config_cpo_new') }}" class="btn btn-primary btn-sm">
                    <i class="fa fa-plus"></i> Crear nuevo CPO </a>
                <a href="javascript:;" class="btn yellow-mint btn-sm">
                    <i class="fa fa-print"></i> Imprimir </a>
            </div>
        </div>
    </div>

    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Razonsocial</th>
                        <th>Nombre comercial</th>
                        <th>NIT</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Correo electrónico</th>
                        <th>Anotaciones</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for linea in cpo %}
                    <tr>
                        <td><a href="{{ path('config_cpo_show', { 'id': cpo.id }) }}">{{ linea.id }}</a></td>
                        <td>{{ linea.razonsocial }}</td>
                        <td>{{ linea.nombreComercial }}</td>
                        <td>{{ linea.nit }}</td>
                        <td>{{ linea.direccion }}</td>
                        <td>{{ linea.telefono }}</td>
                        <td>{{ linea.correoElectronico }}</td>
                        <td>{{ linea.anotaciones }}</td>
                        <td>
                                    <a href="{{ path('config_cpo_show', { 'id': cpo.id }) }}"
                                        class="btn btn-outline btn-circle btn-sm purple">
                                            <i class="fa fa-edit"></i> Consultar </a>

                                    <a href="{{ path('config_cpo_edit', { 'id': cpo.id }) }}"
                                        class="btn btn-outline btn-circle btn-sm purple">
                                            <i class="fa fa-edit"></i> Modificar </a>
{#                                     <a href="javascript:;"
                                        class="btn btn-outline btn-circle dark btn-sm black">
                                            <i class="fa fa-trash-o"></i> Eliminar </a> #}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body_page_content %}
