{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body_page_header_title_string %}
    Formulario CPO
    <small>Crear nuevo</small>
{% endblock body_page_header_title_string %}
{% block body_page_header_breadcrumbs %}
    <li>
        <a href="{{ path('config_cpo_index') }}">Lista CPO </a>
    </li>
    <li>
        <i class="fa fa-circle"></i>
        <span>Crear</span>
    </li>
{% endblock body_page_header_breadcrumbs %}
{% block body_page_content %}
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="icon-settings font-red-sunglo"></i>
                <span class="caption-subject bold uppercase">Formulario CPO</span>
            </div>
        </div>
        <div class="portlet-body form">
            {{
                form_start(form,
                    {
                        attr: {novalidate: 'novalidate'},
                        style: 'horizontal'
                    }
                )
            }}
            <div class="form-body">
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_label(form.nit,'NIT', { 'label_attr': {'class': 'col-md-3'} }) }}
                    <div class="col-md-4">
                    {{ form_widget(form.nit) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.razonsocial,'Razonsocial', { 'label_attr': {'class': 'col-md-3'} }) }}
                    <div class="col-md-4">
                    {{ form_widget(form.razonsocial) }}
                    </div>
                </div>

{#     <table>
        <tbody>
            <tr>
                <th>
                    {{ form_label(form.nit,'NIT', { 'label_attr': {'class': 'col-md-3'} }) }}
                </th>
                <td class="col-md-4">
                    {{ form_widget(form.nit, { 'attr': {'class': 'col-md-4'} }) }}
                </td>
            </tr>
            <tr>
                <th>Razonsocial</th>
                <td>{{ form_widget(form.razonsocial) }}</td>
            </tr>
        </tbody>
    </table> #}
                <div class="form-group">
                    {{ form_label(form.nombreComercial,'Nombre comercial', { 'label_attr': {'class': 'col-md-3'} }) }}
                    <div class="col-md-4">
                    {{ form_widget(form.nombreComercial) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.direccion,'Dirección', { 'label_attr': {'class': 'col-md-3'} }) }}
                    <div class="col-md-4">
                    {{ form_widget(form.direccion) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.telefono,'Teléfono', { 'label_attr': {'class': 'col-md-3'} }) }}
                    <div class="col-md-4">
                    {{ form_widget(form.telefono) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.pais,'Pais', { 'label_attr': {'class': 'col-md-3'} }) }}
                    <div class="col-md-4">
                    {{ form_widget(form.pais) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.correoElectronico,'Correo electrónico', { 'label_attr': {'class': 'col-md-3'} }) }}
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            {{ form_widget(form.correoElectronico) }}
                        </div>
                    </div>
                </div>
                {{ form_row(form.anotaciones) }}
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-9">
                            {{ form_widget(form.btnCrear) }}
                            <a 
                                href="{{ path('config_cpo_index') }}" 
                                class="btn btn-danger"> Cancelar
                            </a>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock body_page_content %}
