{% extends 'base.html.twig' %}

{% block body %}
    <h1>CPO</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cpo.id }}</td>
            </tr>
            <tr>
                <th>Razonsocial</th>
                <td>{{ cpo.razonsocial }}</td>
            </tr>
            <tr>
                <th>Nombrecomercial</th>
                <td>{{ cpo.nombreComercial }}</td>
            </tr>
            <tr>
                <th>NIT</th>
                <td>{{ cpo.nit }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ cpo.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ cpo.telefono }}</td>
            </tr>
            <tr>
                <th>Correoelectronico</th>
                <td>{{ cpo.correoElectronico }}</td>
            </tr>
            <tr>
                <th>Anotaciones</th>
                <td>{{ cpo.anotaciones }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('config_cpo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('config_cpo_edit', { 'id': cpo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
