{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body_page_header_title_string %}
    Periodo fiscal
    <small>Listado</small>
{% endblock body_page_header_title_string %}
{% block body_page_header_breadcrumbs %}
    <li>
        <span>Lista de periodos fiscales</span>
    </li>
{% endblock body_page_header_breadcrumbs %}

{% block body_page_content %}
<div class="portlet light portlet-fit portlet-datatable ">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject bold uppercase">Lista de periodo fiscal</span>
        </div>
        <div class="actions">
            <div class="tools-rigth">
                <a href="{{ path('empresa_periodofiscal_new') }}" class="btn btn-primary btn-sm">
                    <i class="fa fa-plus"></i> Crear nuevo periodo fiscal </a>
                <a href="javascript:;" class="btn yellow-mint btn-sm">
                    <i class="fa fa-print"></i> Imprimir </a>
            </div>
        </div>
    </div>

    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Fecha inicio</th>
                        <th>Fecha finalización</th>
                        <th>Nomenclatura contable</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for periodoFiscal in periodoFiscals %}
                    <tr>
                        <td><a href="{{ path('empresa_periodofiscal_edit', { 'id': periodoFiscal.id }) }}">{{ periodoFiscal.id }}</a></td>
                        <td>{% if periodoFiscal.fechaInicio %}{{ periodoFiscal.fechaInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if periodoFiscal.fechaFin %}{{ periodoFiscal.fechaFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>
                            <a href="{{ path('empresa_nomenclaturaperiodofiscal_index', { 'periodo_fiscal_id': periodoFiscal.id }) }}"
                                class="btn dark btn-sm btn-outline sbold uppercase">
                                <i class="fa fa-share"></i> View </a>
                        </td>
                        <td>
                                    <a href="{{ path('empresa_periodofiscal_edit', { 'id': periodoFiscal.id }) }}"
                                        class="btn btn-outline btn-circle btn-sm purple">
                                            <i class="fa fa-edit"></i> Modificar </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body_page_content %}
