{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body_page_header_title_string %}
    Periodo fiscal
    <small>Crear nuevo</small>
{% endblock body_page_header_title_string %}
{% block body_page_header_breadcrumbs %}
    <li>
        <a href="{{ path('empresa_periodofiscal_index') }}">Periodos fiscales</a>
    </li>
    <li>
        <i class="fa fa-circle"></i>
        <span>Crear</span>
    </li>
{% endblock body_page_header_breadcrumbs %}
{% block body_page_content %}
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="icon-settings font-red-sunglo"></i>
                <span class="caption-subject bold uppercase">Formulario de periodo fiscal</span>
            </div>
        </div>
        <div class="portlet-body form">
            {{
                form_start(form,
                    {
                        attr: {novalidate: 'novalidate'},
                        style: 'horizontal'
                    }
                )
            }}
            <div class="form-body">
                {{ form_errors(form) }}
                {{ form_row(form.fechaInicio) }}
                {{ form_row(form.fechaFin) }}

                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            {{ form_widget(form.btnCrear) }}
                            {{ form_widget(form.btnCopiar) }}
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock body_page_content %}
