{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body_page_header_title_string %}
{% endblock body_page_header_title_string %}

{% block body_page_header_breadcrumbs %}
    <li>
        <a href="#">Documentos</a>
    </li>
    <li>
        <i class="fa fa-circle"></i>
        <span>Editar</span>
    </li>
{% endblock body_page_header_breadcrumbs %}

{% block body_page_content %}
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="icon-settings font-red-sunglo"></i>
                <span class="caption-subject bold uppercase">
                    {% block titulo_formulario %}
                        Formulario base
                    {% endblock titulo_formulario %}
                </span>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-expanded="false"> Acciones
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        {% block boton_eliminar %}
                        <li>
                            <a href="javascript:;">
                            {{ form_start(delete_form) }}
                            <i class="fa fa-trash-o"></i>
                                <input type="submit" value="Eliminar" class="btn btn-danger">
                            {{ form_end(delete_form) }}
                        </li>
                        <li class="divider"> </li>
                        {% endblock boton_eliminar %}

                        {% block boton_ver_lista %}
                            <li>
                                <a href="#">
                                    <i class="fa fa-tasks"></i>
                                    Regresar a listado general</a>
                            </li>
                        {% endblock boton_ver_lista %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            {{ 
                form_start(edit_form,
                    {
                        attr: {novalidate: 'novalidate'},
                        style: 'horizontal'
                    }
                )
            }}
            <div class="form-body">
                {% block body_formulario %}
                    {{ form_errors(edit_form) }}
                    {{ form_widget(edit_form) }}
                {% endblock body_formulario %}

                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            {% block button_actions %}
                                {{ form_widget(edit_form.btnCrear, { 'label': 'Guardar cambios' }) }}
                                <a 
                                    href="#" 
                                    class="btn btn-danger"> Cancelar
                                </a>
                            {% endblock button_actions %}
                        </div>
                    </div>
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock body_page_content %}
