{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body_page_header_title_string %}
    Empresas
    <small></small>
{% endblock body_page_header_title_string %}
{% block body_page_header_breadcrumbs %}
    <li>
        <a href="{{ path('config_user_index') }}">Usuario</a>
    </li>
    <li>
        <i class="fa fa-circle"></i>
        <span>Empresas</span>
    </li>
{% endblock body_page_header_breadcrumbs %}

{% block body_page_content %}
<div class="portlet light portlet-fit portlet-datatable ">
    <div class="portlet-title">
        <div class="caption">
            <i class=" icon-layers font-green"></i>
            <span class="caption-subject font-green sbold uppercase">Lista de empresas asociadas al usuario</span>
        </div>
        <div class="actions">
            <a href="{{ path('config_user_empresa_new', {user_id: user_id}) }}" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> Agregar empresa </a>
            <a href="javascript:;" class="btn btn-default btn-sm">
                <i class="fa fa-print"></i> Print </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-condensed table-hover">
                <thead>
            <tr>
                <th>Empresa</th>
                <th>Actions</th>
            </tr>
                </thead>
                <tbody>
                {% for empresa in empresas %}
                    <tr>
                        <td>{{ empresa.razonsocial }}</td>
                        <td>
                            <a href="{{ path('config_user_empresa_delete', {'user_id':user_id, 'empresa_id': empresa.id }) }}"
                                class="btn btn-outline btn-circle btn-sm purple">
                                    <i class="fa fa-delete"></i> Eliminar </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body_page_content %}
