{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body_page_header_title_string %}
    Asociar empresa a <span> {{user.nombre}} </span>
{% endblock body_page_header_title_string %}
{% block body_page_header_breadcrumbs %}
    <li>
        <a href="{{ path('config_user_index') }}">Usuarios</a>
    </li>
    <li>
        <i class="fa fa-circle"></i>
        <a href="{{ path('config_user_empresa_index', {user_id: user.id}) }}">Empresas</a>
    </li>
    <li>
        <i class="fa fa-circle"></i>
        <span>Agregar nuevo</span>
    </li>
{% endblock body_page_header_breadcrumbs %}
{% block body_page_content %}
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="icon-settings font-red-sunglo"></i>
                <span class="caption-subject bold uppercase">Seleccionar empresa</span>
            </div>
        </div>
        <div class="portlet-body form">
            {{
                form_start(form,
                    {
                        attr: {novalidate: 'novalidate'},
                        style: 'horizontal'
                    }
                )
            }}
            <div class="form-body">
                {{ form_errors(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock body_page_content %}
