{% extends 'base_template/base_edit.html.twig' %}

{% block body_page_header_breadcrumbs %}
    <li>
        <a href="{{ path('config_tipodocumento_index') }}">Documentos contables</a>
    </li>
    <li>
        <i class="fa fa-circle"></i>
        <span>Editar documento</span>
    </li>
{% endblock body_page_header_breadcrumbs %}

{% block titulo_formulario %}
    Formulario documento contable
{% endblock titulo_formulario %}

{% block boton_ver_lista %}
    <li>
        <a href="{{ path('config_tipodocumento_index') }}">
            <i class="fa fa-tasks"></i>
            Visualizar todos </a>
    </li>
{% endblock boton_ver_lista %}

{% block body_formulario %}
    {{ form_errors(edit_form) }}
    {{ form_row(edit_form.codigo)}}
    {{ form_row(edit_form.nombre)}}
    {{ form_row(edit_form.naturalezaContable)}}
    {{ form_row(edit_form.moneda)}}
{% endblock body_formulario %}

{% block button_actions %}
    {{ form_widget(edit_form.btnCrear, { 'label': 'Guardar cambios' }) }}
    <a 
        href="{{ path('config_tipodocumento_index') }}" 
        class="btn btn-danger"> Cancelar
    </a>
{% endblock button_actions %}