{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body_page_header_title_string %}
    Tipo de documentos
    <small>Listado</small>
{% endblock body_page_header_title_string %}
{% block body_page_header_breadcrumbs %}
    <li>
        <span>Lista de documentos contables</span>
    </li>
{% endblock body_page_header_breadcrumbs %}

{% block body_page_content %}
<div class="portlet light portlet-fit portlet-datatable ">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <i class="icon-settings font-red-sunglo"></i>
            <span class="caption-subject bold uppercase">Lista de documentos contables</span>
        </div>
        <div class="actions">
            <div class="tools-rigth">
                <a href="{{ path('config_tipodocumento_new') }}" class="btn btn-primary btn-sm">
                    <i class="fa fa-plus"></i> Crear nuevo documento </a>
                <a href="javascript:;" class="btn yellow-mint btn-sm">
                    <i class="fa fa-print"></i> Imprimir </a>
            </div>
        </div>
    </div>

    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Naturaleza contable</th>
                        <th>Moneda</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for tipoDocumento in tipoDocumentos %}
                    <tr>
                        <td>
                            <a href="{{ path('config_tipodocumento_edit', { 'id': tipoDocumento.id }) }}">{{ tipoDocumento.id }}</a>
                        </td>
                        <td>{{ tipoDocumento.codigo }}</td>
                        <td>{{ tipoDocumento.nombre }}</td>
                        <td>{{ tipoDocumento.naturalezaContable }}</td>
                        <td>{{ tipoDocumento.moneda }}</td>
                        <td>
                            <a href="{{ path('config_tipodocumento_edit', { 'id': tipoDocumento.id }) }}"
                                class="btn btn-outline btn-circle btn-sm purple">
                                    <i class="fa fa-edit"></i> Editar </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body_page_content %}
