{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipodocumento</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipoDocumento.id }}</td>
            </tr>
            <tr>
                <th>Empresa</th>
                <td>{{ tipoDocumento.empresa }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ tipoDocumento.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipoDocumento.nombre }}</td>
            </tr>
            <tr>
                <th>Naturalezacontable</th>
                <td>{{ tipoDocumento.naturalezaContable }}</td>
            </tr>
            <tr>
                <th>Moneda</th>
                <td>{{ tipoDocumento.moneda }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('config_tipodocumento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('config_tipodocumento_edit', { 'id': tipoDocumento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
