{% extends "::base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body_page_header_title_string %}
    Dashboard
    <small>Estadisticas, avisos y eventos recientes </small>
{% endblock body_page_header_title_string %}
{% block body_page_header_breadcrumbs %}
    <li>
        <span>Dashboard</span>
    </li>
{% endblock body_page_header_breadcrumbs %}

{% block body_page_content %}
<div class="row">
        {{
            form_start(form,
                {
                    attr: {novalidate: 'novalidate'},
                    style: 'horizontal'
                }
            )
        }}
        {{ form_errors(form) }}
            <div class="col-xs-12">
                <div class="dashboard-stat2 ">
                    <div class="display">
                        <div class="number">
                            <h3 class="font-green-sharp">
                                <span data-counter="counterup">Ingreso a empresa</span>
                            </h3>
                        </div>
                        <div class="icon">
                            <i class="icon-users"></i>
                        </div>
                    </div>
                    <div class="progress-info">
                        {{ form_widget(form.empresa) }}
                    </div>

                <div class="icon">
                    <i class="icon-"></i>
                </div>

                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-3">
                            <button class="btn btn-success">Ingresar</button>
                            <a 
                                href="{{ path('fos_user_security_logout') }}" 
                                class="btn btn-danger"> Cancelar
                            </a>
                        </div>
                    </div>
                </div>

                </div>
            </div>
    {{ form_end(form) }}
{% endblock body_page_content %}
