{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body_page_header_title_string %}
    Pais
    <small>Consultar</small>
{% endblock body_page_header_title_string %}
{% block body_page_header_breadcrumbs %}
    <li>
        <a href="{{ path('config_pais_index') }}">Pais</a>
    </li>
    <li>
        <i class="fa fa-circle"></i>
        <span>Consultar</span>
    </li>
{% endblock body_page_header_breadcrumbs %}
{% block body_page_content %}
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="icon-settings font-red-sunglo"></i>
                <span class="caption-subject bold uppercase">Formulario de paises</span>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-expanded="false"> Actions
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:;">
                            {{ form_start(delete_form) }}
                            <i class="fa fa-trash-o"></i>
                                <input type="submit" value="Eliminar" class="btn btn-danger">
                            {{ form_end(delete_form) }}
                        </li>
                        <li>
                            <a href="{{ path('config_pais_edit', { 'id': pais.id }) }}">
                                <i class="fa fa-pencil"></i> Modificar </a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a href="{{ path('config_pais_index') }}">
                                <i class="fa fa-tasks"></i>
                                Regresar a listado general</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="portlet-body form">
            <table>
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ pais.id }}</td>
                    </tr>
                    <tr>
                        <th>Código</th>
                        <td>{{ pais.codigo }}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ pais.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Moneda</th>
                        <td>{{ pais.moneda.nombre }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock body_page_content %}
